sphinx==7.3.7
pydata-sphinx-theme==0.15.2
sphinx-design==0.5.0
# this should be mocked in autodoc_mock_imports
# however, it causes issues with union types PEP 604 support
# ie fails with TypeError: unsupported operand type(s) for |: 'ndarray' and 'NoneType'
numpy==1.26.4
